@model List<Service>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">
        DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
                                                                   href="https://datatables.net">official DataTables documentation</a>.
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>

                        <tr>
                            <th>Category.Id</th>
                            <th>Category.Title</th>
                            <th>Category.Services Count</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (Service service in Model)
                        {
                            <tr>
                                <td>@service.Id</td>
                                <td>@service.Title</td>
                                <td>@service.Category?.Title</td>
                                <td><a class="btn btn-danger" asp-area="Admin" asp-controller="Service" asp-action="Delete" asp-route-id="@service.Id"> Delete</a></td>
                                <td><a class="btn btn-warning" asp-area="Admin" asp-controller="Service" asp-action="Update" asp-route-id="@service.Id"> Update</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
            </div>
<!-- End of Main Content -->
